In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## importing data

In [6]:
df = pd.read_csv("Churn_modelling.csv")
X = df.iloc[:, 3:13].values
y = df.iloc[:, 13].values

In [7]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## encoding categorical data

In [8]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], 1)

from sklearn.preprocessing import OneHotEncoder, StandardScaler
ohe = OneHotEncoder(drop='first', sparse=False)
categorical_columns = ['Geography', 'Gender']
numerical_columns = [i for i in df.columns if i not in categorical_columns + ['Exited']]
scaler = StandardScaler()
X = np.concatenate([ohe.fit_transform(df[categorical_columns]),
                scaler.fit_transform(df[numerical_columns])],
               axis=1)
y = df['Exited']

## Splitting the dataset into training set and test set

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
classifier = Sequential()

## adding input layer and first hidden layer

In [14]:
classifier.add(Dense(output_dim=6, init="uniform", activation="relu", input_dim=11))

c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

WARNING:tensorflow:From c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\ops\resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

## adding second layer

In [15]:
classifier.add(Dense(output_dim=6, init="uniform", activation="relu"))

c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

## adding output layer

In [16]:
classifier.add(Dense(output_dim=1, init="uniform", activation="sigmoid"))

c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  """Entry point for launching an IPython kernel.

In [17]:
classifier.compile(optimizer ="adam", loss = "binary_crossentropy", metrics = ["accuracy"] )

In [18]:
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

WARNING:tensorflow:From c:\users\kullanÄ±cÄ±\appdata\local\programs\python\python37\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
8000/8000 [==============================] - 3s 361us/step - loss: 0.4878 - accuracy: 0.7929
Epoch 2/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4247 - accuracy: 0.7976
Epoch 3/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4160 - accuracy: 0.8301
Epoch 4/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4095 - accuracy: 0.8328
Epoch 5/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4057 - accuracy: 0.8347
Epoch 6/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4032 - accuracy: 0.8378
Epoch 7/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4015 - accuracy: 0.8366
Epoch 8/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3998 - accuracy: 0.8364
Epoch 9/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3985 - accuracy: 0.8354
Epoch 10/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3977 - accuracy: 0.8372
Epoch 11/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3971 - accuracy: 0.8367
Epoch 12/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3966 - accuracy: 0.8357
Epoch 13/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3957 - accuracy: 0.8367
Epoch 14/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3957 - accuracy: 0.8366
Epoch 15/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3948 - accuracy: 0.8374
Epoch 16/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3951 - accuracy: 0.8381
Epoch 17/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3943 - accuracy: 0.8384
Epoch 18/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.3943 - accuracy: 0.8407
Epoch 19/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3942 - accuracy: 0.8372
Epoch 20/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3938 - accuracy: 0.8389
Epoch 21/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3939 - accuracy: 0.8381
Epoch 22/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3936 - accuracy: 0.8396
Epoch 23/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3933 - accuracy: 0.8400
Epoch 24/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3936 - accuracy: 0.8389
Epoch 25/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.3928 - accuracy: 0.8404
Epoch 26/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3930 - accuracy: 0.8389
Epoch 27/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3928 - accuracy: 0.8381
Epoch 28/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3929 - accuracy: 0.8391
Epoch 29/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3924 - accuracy: 0.8409
Epoch 30/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3925 - accuracy: 0.8405
Epoch 31/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3927 - accuracy: 0.8394
Epoch 32/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3925 - accuracy: 0.8395
Epoch 33/100
8000/8000 [==============================] - 2s 201us/step - loss: 0.3925 - accuracy: 0.8394
Epoch 34/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3918 - accuracy: 0.8391
Epoch 35/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3923 - accuracy: 0.8397
Epoch 36/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3924 - accuracy: 0.8420
Epoch 37/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3922 - accuracy: 0.8403
Epoch 38/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3918 - accuracy: 0.8409
Epoch 39/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3918 - accuracy: 0.8394
Epoch 40/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3920 - accuracy: 0.8397
Epoch 41/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3933 - accuracy: 0.83 - 1s 138us/step - loss: 0.3920 - accuracy: 0.8403
Epoch 42/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3917 - accuracy: 0.8395
Epoch 43/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3916 - accuracy: 0.8401
Epoch 44/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.3915 - accuracy: 0.8410
Epoch 45/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3914 - accuracy: 0.8400
Epoch 46/100
8000/8000 [==============================] - 1s 174us/step - loss: 0.3917 - accuracy: 0.8411
Epoch 47/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3915 - accuracy: 0.8410
Epoch 48/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3910 - accuracy: 0.8413
Epoch 49/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3911 - accuracy: 0.8404
Epoch 50/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3914 - accuracy: 0.8407
Epoch 51/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3909 - accuracy: 0.8411
Epoch 52/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.3910 - accuracy: 0.8421
Epoch 53/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3910 - accuracy: 0.8413
Epoch 54/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3911 - accuracy: 0.8421
Epoch 55/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3906 - accuracy: 0.8416
Epoch 56/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.3911 - accuracy: 0.8397
Epoch 57/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3913 - accuracy: 0.8411
Epoch 58/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3908 - accuracy: 0.8424
Epoch 59/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3906 - accuracy: 0.8425
Epoch 60/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.3911 - accuracy: 0.8415
Epoch 61/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.3906 - accuracy: 0.8435
Epoch 62/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3908 - accuracy: 0.8425
Epoch 63/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3909 - accuracy: 0.8406
Epoch 64/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.3903 - accuracy: 0.8420
Epoch 65/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.3905 - accuracy: 0.8428
Epoch 66/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3908 - accuracy: 0.8409
Epoch 67/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.3907 - accuracy: 0.8400
Epoch 68/100
8000/8000 [==============================] - 2s 194us/step - loss: 0.3909 - accuracy: 0.8421
Epoch 69/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3904 - accuracy: 0.8421
Epoch 70/100
8000/8000 [==============================] - 1s 186us/step - loss: 0.3902 - accuracy: 0.8419
Epoch 71/100
8000/8000 [==============================] - 1s 184us/step - loss: 0.3903 - accuracy: 0.8426
Epoch 72/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3908 - accuracy: 0.8410
Epoch 73/100
8000/8000 [==============================] - 2s 206us/step - loss: 0.3898 - accuracy: 0.8413
Epoch 74/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3903 - accuracy: 0.8409
Epoch 75/100

8000/8000 [==============================] - 1s 138us/step - loss: 0.3904 - accuracy: 0.8428
Epoch 76/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3904 - accuracy: 0.8421
Epoch 77/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3903 - accuracy: 0.8414
Epoch 78/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3903 - accuracy: 0.8421
Epoch 79/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3901 - accuracy: 0.8419
Epoch 80/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3903 - accuracy: 0.8407
Epoch 81/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3906 - accuracy: 0.8415
Epoch 82/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3904 - accuracy: 0.8413
Epoch 83/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3901 - accuracy: 0.8410
Epoch 84/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3904 - accuracy: 0.8416
Epoch 85/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.3904 - accuracy: 0.8415
Epoch 86/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3899 - accuracy: 0.8419
Epoch 87/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3902 - accuracy: 0.8413
Epoch 88/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3901 - accuracy: 0.84140s - loss: 0.3902 -
Epoch 89/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3899 - accuracy: 0.8413
Epoch 90/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3901 - accuracy: 0.8413
Epoch 91/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3903 - accuracy: 0.8428
Epoch 92/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3899 - accuracy: 0.8418
Epoch 93/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3901 - accuracy: 0.8418
Epoch 94/100
8000/8000 [==============================] - 1s 183us/step - loss: 0.3900 - accuracy: 0.8411
Epoch 95/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3898 - accuracy: 0.8419
Epoch 96/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3902 - accuracy: 0.8401
Epoch 97/100
8000/8000 [==============================] - 1s 138us/step - loss: 0.3903 - accuracy: 0.8425
Epoch 98/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3902 - accuracy: 0.8420
Epoch 99/100
8000/8000 [==============================] - 2s 230us/step - loss: 0.3902 - accuracy: 0.8422
Epoch 100/100
8000/8000 [==============================] - 2s 219us/step - loss: 0.3899 - accuracy: 0.8432

In [23]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred>0.5)

In [19]:
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score

In [24]:
cm=confusion_matrix(y_test,y_pred)
pd.DataFrame(cm)

      0    1
0  1560   59
1   266  115

In [25]:
precision_score(y_test, y_pred)

0.6609195402298851

In [26]:
recall_score(y_test, y_pred)

0.30183727034120733

In [27]:
f1_score(y_test, y_pred)

0.4144144144144144